


  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

  :root {

    --primary-color : #3d348b;
    --secondary-color : #7678ed;

  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Playfair Display', serif;
  background-color: var(--primary-color);
  color: whitesmoke ;
}